@import '_variables.scss';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    font-weight: map-get($map: $font-power, $key: regular);
	display: flex;
	flex: {
		direction: column;
	}
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navigation-wrapper {
	background-color: map-get($map: $navigation, $key: background);
    color: map-get($map: $navigation, $key: color);
}

footer {
	margin-top: auto;
    background-color: map-get($map: $navigation, $key: background);
    color: map-get($map: $navigation, $key: color);
}
