@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navigation-wrapper {
  background-color: #231f20;
  color: white;
  height: 4rem;
  z-index: 5;
}
#navigation-wrapper .main-navigation-wrapper {
  display: none;
  padding: 0 1rem;
}
#navigation-wrapper .mobile-navigation-wrapper {
  padding: 0 1rem;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
#navigation-wrapper .mobile-navigation-wrapper #hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 35px;
  cursor: pointer;
}
#navigation-wrapper .mobile-navigation-wrapper #hamburger-menu .bar {
  width: 100%;
  height: 3px;
  border-radius: 8px;
  background-color: white;
}
#navigation-wrapper .mobile-navigation-wrapper #hamburger-menu.active .bar {
  transition: all 0.2s ease-out;
}
#navigation-wrapper .mobile-navigation-wrapper #hamburger-menu.active .bar:nth-child(2) {
  opacity: 0;
}
#navigation-wrapper .mobile-navigation-wrapper #hamburger-menu.active .bar:first-child {
  transform: translateY(11px) rotate(45deg);
}
#navigation-wrapper .mobile-navigation-wrapper #hamburger-menu.active .bar:last-child {
  transform: translateY(-11px) rotate(-45deg);
}
#navigation-wrapper .mobile-navigation-wrapper #mobile-list {
  opacity: 0;
  margin-top: 4rem;
  pointer-events: none;
  position: absolute;
  top: -1px;
  left: 0;
  background-color: #231f20;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem 3rem 1rem;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 600px) {
  #navigation-wrapper .mobile-navigation-wrapper {
    display: none;
  }
  #navigation-wrapper .main-navigation-wrapper {
    display: block;
    height: 100%;
    max-width: 1020px;
    margin: 0 auto;
  }
  #navigation-wrapper .main-navigation-wrapper #main-list {
    display: flex;
    gap: 0.5rem;
    height: 100%;
    align-items: center;
  }
  #navigation-wrapper .main-navigation-wrapper #main-list .link {
    padding: 0.6rem;
    border-radius: 8px;
  }
}
@media (min-width: 600px) and (hover: hover) {
  #navigation-wrapper .main-navigation-wrapper #main-list .link:hover {
    background-color: rgba(255, 255, 255, 0.22);
  }
}

#footer-wrapper {
  margin-top: auto;
  background-color: #231f20;
  color: white;
  height: 3rem;
}
#footer-wrapper .footer-list {
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}
@media (hover: hover) {
  #footer-wrapper .footer-list .link:hover {
    color: red;
  }
}

#backdrop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: 100vh;
  z-index: 4;
}

/*# sourceMappingURL=main.css.map */
