<footer id="footer-wrapper">
	<ul class="footer-list">
		<li><a class="link" href="/">Home</a></li>
		<li><a class="link" href="/about">About</a></li>
		<li><a class="link" href="/contacts">Contacts</a></li>
	</ul>
</footer>
