<nav id="navigation-wrapper">
	<div class="main-navigation-wrapper">
		<ul id="main-list">
			<li><a class="link" href="/">Home</a></li>
			<li><a class="link" href="/about">About</a></li>
			<li><a class="link" href="/contacts">Contacts</a></li>
		</ul>
	</div>
	<div class="mobile-navigation-wrapper">
        <div id="hamburger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
		<ul id="mobile-list">
			<li><a class="link" href="/">Home</a></li>
			<li><a class="link" href="/about">About</a></li>
			<li><a class="link" href="/contacts">Contacts</a></li>
		</ul>
	</div>
</nav>
