<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/toggleMenu.js" defer></script>
		<title><%= title %></title>
	</head>
	<body>
        <%- include('../partials/navigation.ejs') %>
		<%- body %>
        <%- include('../partials/footer.ejs') %>
        <div id="backdrop"></div>
	</body>
</html>
